.be-Also-Box {
  padding: 50px 0px;
  max-width: 100%;
  background-color: rgb(30 30 32);
  .be-also-among-Block {
    display: flex;
    gap: 100px;
    background-color: #ffffff12;
    padding: 48px 56px 64px 56px;
    border-radius: 0.75rem;
    .Text-Among {
      flex-basis: 700px;
      h2 {
        font-size: 3rem;
        word-break: break-word !important;
        color: rgb(255 255 255);
        font-weight: 700;
        text-align: left;
        line-height: 120% !important;
        margin-bottom: 30px;
      }
      p {
        color: #e0e0e099;
        letter-spacing: 0.2px;
        font-weight: 400;
        line-height: 140% !important;
        padding-right: 80px;
      }
    }
    ul {
      list-style: none;
      column-gap: 1.5rem;
      margin-top: 0;
      li {
        &:nth-last-child(-n + 4) {
          margin-bottom: 25px;
        }
        a {
          text-decoration: none;
          color: rgb(255 255 255);
          font-size: 1.125rem;
          letter-spacing: 0.002em;
          line-height: 130% !important;
          font-weight: 500;
          display: flex;
          align-items: center;
          cursor: pointer;
          svg {
            margin-right: 8px;
          }

          &:hover {
            color: #00a795;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
}


@media (max-width: 1220px){
  .be-Also-Box{
    padding: 50px 15px;
  }
}

@media (max-width: 950px){
  .be-Also-Box{
    .be-also-among-Block{
      display: block;
      .Text-Among{
        p{
          margin-bottom: 40px;
        }
      }
      ul{
        display: block;
      }
    }
  }
}