.Partnyor-Parent-Child {
  background-color: black;
}
.Partnyor-Parent-Child .Titlte-Partnoyr .title-fonts {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #00a795;
  padding-top: 120px;
}
.Partnyor-Parent-Child .Titlte-Partnoyr .Title {
  padding: 20px 0px;
  font-size: 45px;
  font-weight: 700;
  line-height: 43px;
  color: white;
  padding-bottom: 70px;
}
.Partnyor-Parent-Child .Partnyor-list-Parent {
  max-width: 100%;
  padding-bottom: 100px;
}
.Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor {
  display: grid;
  grid-template-columns: repeat(5, minmax(210px, 210px));
  justify-content: center;
  gap: 30px;
}
.Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor .grid-partnyor-list {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  background-color: rgb(37, 37, 39);
  border-radius: 10px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor .grid-partnyor-list:hover {
  filter: grayscale(0%);
}
.Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor .grid-partnyor-list a {
  text-decoration: none;
}
.Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor .grid-partnyor-list article {
  width: 100% !important;
  height: 150px !important;
  padding: 4px;
}
.Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor .grid-partnyor-list article img {
  max-width: 170px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Partnyor-Parent-Child .swiper {
  display: none;
  width: 100%;
  height: 100%;
}
.Partnyor-Parent-Child .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Partnyor-Parent-Child .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1174px) {
  .Partnyor-Parent-Child .Partnyor-list-Parent {
    max-width: 95%;
    margin: auto;
  }
  .Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor {
    grid-template-columns: repeat(4, minmax(250px, 220px));
    gap: 15px;
    transition: all 1s;
  }
}
@media (max-width: 1038px) {
  .Partnyor-Parent-Child .Titlte-Partnoyr .title-fonts {
    font-size: 14px;
    padding-top: 50px;
  }
  .Partnyor-Parent-Child .Titlte-Partnoyr .Title {
    font-size: 43px;
    padding-bottom: 50px;
  }
  .Partnyor-Parent-Child .Partnyor-list-Parent {
    max-width: 95%;
    margin: auto;
  }
  .Partnyor-Parent-Child .Partnyor-list-Parent .Grid-Partnyor {
    grid-template-columns: repeat(3, minmax(250px, 220px));
    gap: 15px;
    transition: all 1s;
  }
}
@media (max-width: 886px) {
  .Partnyor-Parent-Child .Partnyor-list-Parent {
    display: none;
  }
  .Partnyor-Parent-Child .swiper {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    max-width: 95%;
  }
  .Partnyor-Parent-Child .swiper .swiper-wrapper {
    display: flex;
    gap: 20px;
    padding: 50px 0px;
  }
  .Partnyor-Parent-Child .swiper .swiper-wrapper .swiper-slide {
    width: 260px !important;
    height: 100px !important;
    padding: 10px !important;
    background-color: rgb(53, 52, 52) !important;
    margin: 0 !important;
    border-radius: 10px;
  }
  .Partnyor-Parent-Child .swiper .swiper-wrapper .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width: 1200px) {
  .Partnyor-Parent-Child .Titlte-Partnoyr {
    padding: 0px 15px;
  }
}/*# sourceMappingURL=Partnyor.css.map */