.Footer-Parent-Selector {
  max-width: 100%;
  background-color: rgb(30, 30, 32);
}
.Footer-Parent-Selector .Footer-Page-Parent {
  display: flex;
  justify-content: end !important;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.Footer-Parent-Selector .Footer-Page-Parent .newLogo {
  display: none;
}
.Footer-Parent-Selector .Footer-Page-Parent ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 3rem !important;
       column-gap: 3rem !important;
}
.Footer-Parent-Selector .Footer-Page-Parent ul a {
  text-decoration: none !important;
  color: white;
  font-size: 1rem !important;
  line-height: 1.5rem;
  opacity: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s ease;
}
.Footer-Parent-Selector .Footer-Page-Parent ul a:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.Footer-Parent-Selector .Footer-Page-Parent .Top-Home-Page .border-Top-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #A4A4A5;
  cursor: pointer;
  padding-top: 5px;
}
.Footer-Parent-Selector .Footer-Page-Parent .Top-Home-Page .border-Top-Icon:hover {
  border: 1px solid #00a795;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq {
  width: 100%;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  align-items: flex-end;
  margin-bottom: 50px;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Ijtimoiy-Tarmoq-Left-Parent {
  display: grid;
  grid-template-columns: repeat(9, 0fr);
  gap: 14px;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Ijtimoiy-Tarmoq-Left-Parent a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.254);
  border-radius: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Ijtimoiy-Tarmoq-Left-Parent a svg {
  width: auto;
  height: auto;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Ijtimoiy-Tarmoq-Left-Parent a:hover {
  background-color: #00a795;
  border-color: #00a795;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Info-MobileNumber-email {
  display: flex;
  -moz-column-gap: 1rem !important;
       column-gap: 1rem !important;
  margin-left: -80px;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Info-MobileNumber-email .a-Links {
  text-decoration: none;
  line-height: 18px;
  font-weight: 400;
  font-size: 16px !important;
  color: rgba(255, 255, 255, 0.6);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  cursor: pointer;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Info-MobileNumber-email .a-Links:hover {
  color: white;
}
.Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Info-MobileNumber-email .Info {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px !important;
       column-gap: 12px !important;
}
.Footer-Parent-Selector .footer-End-Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0px;
}
.Footer-Parent-Selector .footer-End-Box .footer-copyright {
  font-size: 17px;
  font-weight: 500;
  color: rgb(165, 164, 164);
}
.Footer-Parent-Selector .footer-End-Box .logo-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
}
.Footer-Parent-Selector .footer-End-Box .logo-footer .title-Logo {
  transform: translateX(50px) scale(0.7);
  opacity: 0;
  font-size: 22px;
  font-weight: 900;
  transition: all 0.5s;
  color: white;
}
.Footer-Parent-Selector .footer-End-Box .logo-footer .title-Logo span {
  font-size: 18px;
  font-weight: 400;
  color: rgb(185, 184, 184);
}
.Footer-Parent-Selector .footer-End-Box .logo-footer:hover .title-Logo {
  transform: translateX(0px) scale(1);
  opacity: 1;
}
.Footer-Parent-Selector .footer-End-Box .map-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid gray;
  transition: all 0.4s;
  color: white;
}
.Footer-Parent-Selector .footer-End-Box .map-button:hover {
  border: 1px solid #00a795;
}

@media (max-width: 1250px) {
  .Footer-Parent-Selector .Footer-Page-Parent {
    padding: 20px 20px;
  }
}
@media (max-width: 1100px) {
  .Footer-Parent-Selector {
    transition: all 0.7s;
    padding: 0px 20px;
  }
  .Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent {
    gap: 150px;
  }
}
@media (max-width: 950px) {
  .Footer-Parent-Selector .Footer-Page-Parent .newLogo {
    display: flex;
    justify-content: center;
    width: 82%;
    height: 100px;
  }
  .Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .Footer-Parent-Selector .Footer-Page-Ijtimoiy-Tarmoq .Ijtimoiy-Tarmoq-Parent .Info-MobileNumber-email {
    margin: 0;
  }
  .Footer-Parent-Selector .footer-End-Box .logo-footer {
    display: none;
  }
}/*# sourceMappingURL=Footer.css.map */